RewriteEngine On

# Redirection pour l'accès à 'accueil'
RewriteRule ^$ index.php?action=accueil [L,QSA]

# Redirection pour l'accès à 'inscription'
RewriteRule ^inscription$ index.php?action=inscription [L,QSA]

# Redirection pour l'accès à 'login'
RewriteRule ^login$ index.php?action=login [L,QSA]

# Redirection pour l'accès à 'logout'
RewriteRule ^logout$ index.php?action=logout [L,QSA]

# Redirection pour l'accès à 'Admin'
RewriteRule ^admin$ index.php?action=admin [L,QSA]
# Redirection pour l'accès à 'Admin/ajouterunjeux'
RewriteRule ^admin/addGames$ index.php?action=admin&step=addGames [L,QSA]
# Redirection pour l'accès à 'Admin/modifierunjeux'
RewriteRule ^admin/modifyGames$ index.php?action=admin&step=modifyGames [L,QSA]
# Redirection pour l'accès à 'Admin/modifierunjeux'
RewriteRule ^admin/modifyGames/(\d+)$ index.php?action=admin&step=modifyGames&id=$1 [L,QSA]
# Redirection pour l'accès à 'Admin/supprimerunjeux'
RewriteRule ^admin/deleteGames$ index.php?action=admin&step=deleteGames [L,QSA]
# Redirection pour l'accès à 'Admin/ajouterunpersonnage'
RewriteRule ^admin/addCharacter$ index.php?action=admin&step=addCharacter [L,QSA]

# Redirection pour l'accès à 'liste jeux'
RewriteRule ^listgames$ index.php?action=listgames [L,QSA]

# Redirection pour l'accès à 'jeux'
RewriteRule ^games/(\d+)$ index.php?action=games&id=$1 [L,QSA]

# Redirection pour l'accès à 'histoire'
RewriteRule ^story/(\d+)$ index.php?action=story&id=$1 [L,QSA]

# Redirection pour l'accès à 'personnage'
RewriteRule ^character/(\d+)$ index.php?action=character&id=$1 [L,QSA]

