/* Styles pour les sections de suppression de jeux, personnages et boss */
#delete-games, #delete-character, #delete-boss {
    @include flexbox(space-around, flex-start, false, wrap); /* Utilisation de Flexbox pour disposer les éléments en espace autour, alignés au début, sans alignement vertical spécifique, avec retour à la ligne */
    margin: 20px; /* Ajoute un espace extérieur de 20px tout autour des sections */
    /* Styles pour les listes à l'intérieur des sections */
    .list {
        @include flexbox(space-between, false, column); /* Utilisation de Flexbox pour disposer les éléments avec un espace entre eux, alignés verticalement en colonne */
        background-color: $background-color_2; /* Définit la couleur de fond de la liste */
        border: 2px solid $border; /* Ajoute une bordure solide de 2px autour de la liste */
        border-radius: $border_radius_2; /* Arrondit les coins de la bordure */
        padding: 20px; /* Ajoute un espace intérieur de 20px tout autour du contenu de la liste */
        margin: 10px; /* Ajoute un espace extérieur de 10px tout autour de la liste */
        width: calc(30% - 40px); /* Définit la largeur de la liste à 30% de celle du conteneur parent, moins 40px pour compenser les marges */
        /* Styles pour les titres à l'intérieur des listes */
        h2 {
            font-family: $fontpara; /* Applique la police de caractères spécifiée pour les titres */
            display: block; /* Définit l'affichage du titre comme un bloc */
            margin: 5px 0; /* Ajoute un espace extérieur de 5px en haut et en bas du titre */
            padding: 10px; /* Ajoute un espace intérieur de 10px tout autour du titre */
            text-align: center; /* Centre le texte du titre */
            font-size: 1.2em; /* Définit la taille de la police du titre */
            border: 2px solid $border; /* Ajoute une bordure solide de 2px autour du titre */
            border-radius: $border_radius_2; /* Arrondit les coins de la bordure du titre */
        }
        /* Styles pour les images à l'intérieur des listes */
        img {
            width: 100%; /* Définit la largeur de l'image à 100% du conteneur */
            height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement */
            border-radius: $border_radius_1; /* Arrondit les coins de l'image */
            margin-top: 10px; /* Ajoute un espace extérieur de 10px au-dessus de l'image */
            box-shadow: 0 0 10px $color_2; /* Ajoute une ombre portée autour de l'image */
        }
        /* Styles pour le conteneur des boutons à l'intérieur des listes */
        .button-container {
            display: flex; /* Utilise Flexbox pour disposer les éléments à l'intérieur du conteneur */
            justify-content: center; /* Centre les éléments horizontalement à l'intérieur du conteneur */
            margin-top: 20px; /* Ajoute un espace extérieur de 20px au-dessus du conteneur des boutons */
        }
    }
}
