#titre-detail {
    text-shadow: 0 0 10px $color_2; // Ajoute une ombre portée autour des images pour un effet de profondeur.
    margin-top: 20px;
}
/* Styles pour les sections de détails des personnages de jeu et des boss de jeu */
#game-character-detail, #game-boss-detail {
    border-radius: $border_radius_2; /* Arrondit les coins de la bordure */
    background-color: $background-color_2; /* Définit la couleur de fond pour les sections de détails */
    font-family: $fontpara; /* Applique la police de caractères spécifiée pour le texte à l'intérieur des sections */
    border: 2px solid $border; /* Ajoute une bordure solide de 2px autour des sections */
    padding: 20px; /* Ajoute un espace intérieur de 20px tout autour du contenu */
    margin: 20px auto; /* Ajoute un espace extérieur de 20px tout autour des sections et centre les sections horizontalement */
    width: 70%; /* Définit la largeur des sections à 90% de celle de leur conteneur parent */
    max-width: 80%; /* Définit la largeur maximale des sections à 90% */
    
    /* Grille pour les éléments de détail des personnages */
    .game-character-grid {
        display: grid; /* Utilise une grille pour disposer les éléments enfants */
        grid-template-columns: repeat(2, 1fr); /* Crée trois colonnes de largeur égale dans la grille */
        gap: 60px; /* Définit un espace de 60px entre les colonnes et les rangées */
    }
    /* Bloc pour chaque élément de détail de personnage */
    .game-character-block {
        @include flexbox(false, center, column); /* Dispose les éléments à l'intérieur du bloc en colonne avec un centrage horizontal */
        border-radius: $border_radius_2; /* Arrondit les coins de la bordure du bloc */
        background-color: $background-color_1; /* Définit la couleur de fond du bloc */
        border: 1px solid $border; /* Ajoute une bordure solide de 1px autour du bloc */
        padding: 20px; /* Ajoute un espace intérieur de 20px tout autour du bloc */
        box-shadow: 0 0 10px $color_2; /* Ajoute une ombre portée autour du bloc */
    }
    /* Conteneur pour l'image du personnage */
    .game-character-image {
        @include flexbox(center, center); /* Centre l'image horizontalement et verticalement */
        width: 100%; /* Définit la largeur du conteneur d'image à 100% du conteneur parent */
        height: 200px; /* Définit la hauteur du conteneur d'image à 200px */
        margin-bottom: 20px; /* Ajoute un espace de 20px en dessous de l'image */

        img {
            object-fit: cover; /* Assure que l'image couvre le conteneur sans déformation */
            max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
            max-height: 100%; /* Assure que l'image ne dépasse pas la hauteur du conteneur */
            box-shadow: 0 0 10px $color_4; /* Ajoute une ombre portée autour de l'image */
        }
    }
    /* Conteneur pour les informations du personnage */
    .game-character-info {
        @include flexbox(false, false, column); /* Dispose les éléments en colonne sans alignement horizontal ou vertical supplémentaire */
        gap: 15px; /* Définit un espace de 15px entre les éléments enfants */
        width: 100%; /* Définit la largeur du conteneur à 100% */
    }
    /* Élément pour chaque item d'information du personnage */
    .game-character-item {
        background-color: $background-color_1; /* Définit la couleur de fond de l'élément */
        border-radius: $border_radius_1; /* Arrondit les coins de la bordure de l'élément */
        padding: 15px; /* Ajoute un espace intérieur de 15px tout autour de l'élément */
        width: 100%; /* Définit la largeur de l'élément à 100% du conteneur parent */

        h2 {
            text-shadow: 0 0 5px $color-2; // Ajouter une ombre portée autour des élément
            border-bottom: 2px solid $color-2; // Ajouter un trait en bas du titre
            padding-bottom: 5px; // Optionnel : ajouter de l'espace entre le texte et le trait
        }

        p {
            margin-top: 20px;
        }

        .description-title {
            text-shadow: 0 0 3px $color_2, 0 0 5px $color_2; /* Ajoute une ombre au texte pour le rendre plus visible */
        }
    }
    /* Styles spécifiques pour les écrans avec une largeur maximale de 768px */
    @media (max-width: 768px) {

        #game-character-detail, #game-boss-detail {
            width: 95%; /* Réduit la largeur des sections à 95% pour les petits écrans */
            max-width: 100%; /* Définit la largeur maximale des sections à 100% */
            padding: 10px; /* Réduit l'espace intérieur à 10px */
            margin: 10px auto; /* Réduit l'espace extérieur à 10px et centre les sections horizontalement */
        }
        /* Ajuste la grille pour les petits écrans */

        .game-character-grid {
            display: grid; /* Utilise une grille pour disposer les éléments enfants */
            grid-template-columns: 1fr; /* Crée une seule colonne dans la grille */
            gap: 20px; /* Réduit l'espace entre les colonnes et les rangées à 20px */
        }

        .game-character-block {
            @include flexbox(false, center, column);
            background-color: $background-color_1; /* Maintient la couleur de fond */
            border-radius: $border_radius_1; /* Maintient l'arrondissement des coins */
            border: 1px solid $border; /* Maintient la bordure */
            padding: 10px; /* Réduit l'espace intérieur du bloc à 10px */
            box-shadow: 0 0 8px $color_2; /* Réduit l'ombre portée autour du bloc */
        }

        .game-character-image {
            height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement */
            max-height: 200px; /* Maintient une hauteur maximale de 200px */
            margin-bottom: 10px; /* Réduit l'espace en dessous de l'image à 10px */

            img {
                border-radius: $border_radius_1; /* Maintient l'arrondissement des coins */
                height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement */
                max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur */
                box-shadow: 0 0 8px $color_2; /* Réduit l'ombre portée autour de l'image */
            }
        }

        .game-character-info {
            gap: 10px; /* Réduit l'espace entre les éléments enfants à 10px */
        }

        .game-character-item {
            border-radius: $border_radius_1; /* Maintient l'arrondissement des coins */
            border: 1px solid $border; /* Maintient la bordure */
            padding: 10px; /* Réduit l'espace intérieur de l'élément à 10px */
        }
    }
}
