.dropdown-container {
    @include flexbox(space-around);
    margin: 20px;
    width: 100%;
    .dropdown {
        width: 100%;
        position: relative;
        @include flexbox(center);
        text-align: center;
        margin-top: 30px;
        &:hover .dropdown-content {
            display: block;
          }
        .lien {
            background-color: $background-color_4;
            color: $color_1;
            padding: 1rem;
            font-family: $fontpara;
            font-size: 24px;
            border: none;
            cursor: pointer;
          }
          .dropdown-content {
            margin-top: 3rem;
            display: none;
            position: absolute;
            background-color: $background-color_3;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px $background_2;
            z-index: 1;
            a {
                color: $color_4;
                font-family: $fontpara;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                &:hover {
                    background-color: $background-color_2;
                  }
              }
          }
      }
  }