.dropdown-container {
  // Utiliser Flexbox pour disposer les éléments à égale distance les uns des autres
  @include flexbox(space-around);
  // Définir la largeur du conteneur à 100% de son conteneur parent
  width: 100%;
  .dropdown {
      // Définir la largeur du dropdown à 100% du conteneur parent
      width: 100%;
      // Positionner le dropdown de manière relative pour permettre au contenu déroulant de se positionner absolument par rapport à lui
      position: relative;
      // Utiliser Flexbox pour centrer le contenu du dropdown
      @include flexbox(center);
      // Aligner le texte au centre
      text-align: center;
      // Ajouter un espacement supérieur pour séparer le dropdown des éléments au-dessus
      margin-top: 30px;
      // Afficher le contenu déroulant lorsque le curseur est au-dessus du dropdown
      &:hover .dropdown-content {
          display: block;
      }
      .lien {
          // Définir la couleur de fond du bouton du dropdown
          background-color: $background-color_4;
          // Définir la couleur du texte du bouton
          color: $color_1;
          // Ajouter un espacement interne
          padding: 1rem;
          // Définir la police utilisée pour le texte du bouton
          font-family: $fontpara;
          // Définir la taille de la police
          font-size: 24px;
          // Supprimer les bordures du bouton
          border: none;
          // Modifier le curseur pour indiquer qu'il est cliquable
          cursor: pointer;
      }
      .dropdown-content {
          // Ajouter un espacement supérieur pour que le contenu déroulant apparaisse en dessous du bouton
          margin-top: 3rem;
          // Cacher le contenu déroulant par défaut
          display: none;
          // Positionner le contenu déroulant absolument par rapport au conteneur parent
          position: absolute;
          // Définir la couleur de fond du contenu déroulant
          background-color: $background-color_3;
          // Définir une largeur minimale pour le contenu déroulant
          min-width: 160px;
          // Ajouter une ombre portée pour donner un effet de profondeur
          box-shadow: 0px 8px 16px 0px $background_2;
          // Placer le contenu déroulant au-dessus des autres éléments
          z-index: 1;
          a {
              // Définir la couleur des liens dans le contenu déroulant
              color: $color_4;
              // Définir la police utilisée pour le texte des liens
              font-family: $fontpara;
              // Ajouter un espacement interne pour les liens
              padding: 12px 16px;
              // Supprimer la décoration par défaut des liens
              text-decoration: none;
              // Afficher les liens en tant qu'éléments de bloc pour qu'ils occupent toute la largeur disponible
              display: block;

              &:hover {
                  // Changer la couleur de fond des liens lorsqu'ils sont survolés
                  background-color: $background-color_2;
              }
          }
      }
  }
}
