footer {
    @include text-align(center);
    background-color: $background-color_2; // Définir la couleur de fond du pied de page
    font-family: $fontpara; // Définir la police du pied de page
    color: $color_1; // Définir la couleur du texte
    margin-top: auto; // Placer le pied de page en bas du conteneur
    padding: 20px 0; // Ajouter un espacement interne
    
    #footer-container {
        @include flexbox(false, center, column); // Utiliser Flexbox pour centrer les éléments verticalement dans le conteneur
        margin: 0 auto; // Centrer horizontalement le conteneur
        max-width: 100vw; // Définir la largeur maximale pour s'adapter à la vue entière
        padding: 0 20px; // Ajouter un espacement interne sur les côtés
        
        .footer-section {
            margin-bottom: 20px; // Ajouter un espacement inférieur entre les sections du pied de page

            .footer-para {
                display: block; // S'assurer que les paragraphes sont des éléments de bloc pour le style
                margin: 5px 0; // Ajouter un espacement vertical autour des paragraphes
            }

            a {
                @include text-decoration(none);
                color: $color_1; // Définir la couleur des liens

                &:hover {
                   @include text-decoration(underline);
                }
            }
        }

        .social-icons {
            @include flexbox(); // Utiliser Flexbox pour disposer les icônes sociales horizontalement avec un espacement
            gap: 15px;

            a {
                @include flexbox(false, center, column);
                @include text-decoration(none);
                color: $color_1; // Définir la couleur des liens d'icônes sociales
                
                img {
                    
                    width: 24px; // Définir la taille des icônes sociales
                    height: 24px;
                    margin-bottom: 5px; // Ajouter un espacement inférieur pour séparer les icônes du texte
                }

                span {
                    font-size: $font-size_span; // Définir la taille de la police pour les textes des icônes sociales
                }
            }
        }
    }
}
