#games-detail {
    background-color: $background-color-2;
    border: 2px solid $border;
    border-radius: $border-radius-2;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 60%;
    font-family: $fontpara;
    .games-image {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: $border-radius-1;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
            box-shadow: 0 0 10px $color-2;
        }
    }
    .games-info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    .games-item {
        background-color: $background-color-1;
        padding: 20px;
        border-radius: $border-radius-1;
        border: 1px solid $border;
        transition: transform 0.3s ease;
        box-shadow: 0 0 5px $color-2;
        @include flexbox(false, false, column);
        .description-title {
            font-size: 1.2em;
            text-shadow: 0 0 3px $color-2, 0 0 5px $color-2;
            margin-bottom: 10px;
            display: block;
        }
    }

    .games-item:last-child {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    #games-detail {
        width: 95%; 
        max-width: 100%; 
        padding: 10px;
        margin: 10px auto;
    }
    .games-image {
        height: 200px; 
        margin-bottom: 10px;
    }
    .games-info {
        display: block !important; 
        gap: 10px; 
    }
    .games-item {
        padding: 15px;
        font-size: 0.9em; 
        margin-bottom: 10px; 
    }
    .games-item:last-child {
        margin-bottom: 0; 
    }
}
