#carousel {
    position: relative; // Positionne le conteneur du carousel relativement pour permettre le positionnement absolu des boutons.
    overflow: hidden; // Cache les débordements du contenu (images) qui dépasse le conteneur.
    margin: auto; // Centre le carousel horizontalement avec une marge automatique.
    width: 80%; // Définit la largeur du carousel à 80% de la largeur du conteneur parent.

    h1 {
        margin-top: 30px; // Ajoute une marge supérieure de 30px pour espacer le logo des éléments au-dessus.
        text-shadow: 0 0 3px $color_2, 0 0 5px $color_2; // Applique un effet d'ombre portée au texte du logo pour un effet de profondeur.
    }
    
    .carousel-slides {
        @include flexbox(); // Utilise Flexbox pour disposer les éléments en ligne.
        margin-top: 30px; // Ajoute une marge supérieure de 30px.
        transition: transform 0.5s ease-in-out; // Ajoute une transition douce de 0.5 secondes pour le mouvement horizontal des diapositives.
        
        .slide {
            position: relative; // Positionne les diapositives relativement pour permettre le positionnement absolu des éléments à l'intérieur.
            min-width: 100%;// Définit la largeur minimale des diapositives à 100% du conteneur parent, permettant de faire défiler les diapositives horizontalement.

            img {
                display: block; // Affiche les images en tant que blocs pour éviter les espaces blancs indésirables.
                width: 100%; // Définit la largeur des images à 100% du conteneur `.slide`.
                object-fit: cover; // Ajuste l'image pour couvrir tout l'espace disponible tout en préservant son ratio d'aspect.
                max-height: 500px; // Définit la hauteur maximale des images à 500px pour éviter qu'elles ne deviennent trop grandes.  
            }
            
            .carousel-title {
                @include text-align(center);
                background: $background_1; // Définit la couleur de fond du titre à partir de la variable $background_1.
                font-family: $fonttitle; // Utilise la police définie dans la variable $fonttitle pour le titre de la diapositive.
                font-size: $font-size_para; // Définit la taille de la police du titre à 22px.
                color: $color_1; // Définit la couleur du texte du titre à partir de la variable $color_1.
                position: absolute; // Positionne le titre en bas de la diapositive.
                bottom: 0;
                width: 100%; // Définit la largeur du titre à 100% de la diapositive.
                z-index: 50; // Définit l'ordre d'empilement du titre pour le placer au-dessus des autres éléments avec un z-index élevé.
                padding: 1rem 0; // Ajoute une marge interne de 1rem en haut et en bas pour espacer le texte du bord du conteneur.
                text-shadow: 0 0 3px $color_2, 0 0 5px $color_2; // Applique un effet d'ombre portée au texte du titre pour le rendre plus visible.
            }
        }
    }
    .carousel-button {
        background: $background_2; // Définit la couleur de fond des boutons à partir de la variable $background_2.
        color: $color_1; // Définit la couleur du texte des boutons à partir de la variable $color_1.
        position: absolute; // Positionne les boutons du carousel en position absolue pour les placer au centre verticalement du conteneur.
        border: none; // Supprime les bordures par défaut des boutons.
        top: 50%;
        transform: translateY(-50%);
        padding: 10px; // Ajoute une marge interne de 10px pour agrandir la zone cliquable des boutons.
        cursor: pointer; // Change le curseur en main (pointer) lorsqu'on survole le bouton.   
    }

    .carousel-button-prev {
        left: 10px; // Positionne le bouton précédent à gauche du carousel avec une marge de 10px.
    }

    .carousel-button-next {
        right: 10px; // Positionne le bouton suivant à droite du carousel avec une marge de 10px.
    }

    .carousel-button:focus {
        outline: none; // Supprime le contour par défaut lorsque le bouton reçoit le focus.
    }
}

.presentation-container {
    @include flexbox(false, false, column);
    @include flexbox(center); // Utilise Flexbox pour centrer le conteneur de présentation horizontalement.
    margin: 0 auto; // Centre le conteneur de présentation horizontalement avec une marge automatique.
    margin-top: 30px; // Ajoute une marge supérieure de 30px.

    h2 {
        padding: 10px; /* Ajoute un espace intérieur de 10px tout autour du titre */    
    }

    .presentation {
        width: 60%; // Définit la largeur du conteneur de présentation à 60% de la largeur du parent.
        margin: 20px auto; // Centre le conteneur de présentation horizontalement avec une marge automatique.

        .section {
            background-color: $background-color_2; // Définit la couleur de fond des sections à partir de la variable $background-color_2.
            border-radius: $border_radius_2; // Applique un rayon de bordure pour arrondir les coins des sections.
            border: 2px solid $color_2; // Ajoute une bordure de 2px solide autour des sections avec une couleur définie dans une variable.
            padding: 20px; // Ajoute une marge interne de 20px autour du contenu de la section.
            margin-bottom: 20px; // Ajoute une marge inférieure de 20px pour espacer les sections entre elles.

           h3 {
                margin-bottom: 10px; // Ajoute une marge inférieure de 10px pour espacer le sous-titre des éléments suivants
                text-shadow: 0 0 3px $color_2, 0 0 5px $color_2; // Applique un effet d'ombre portée au texte des sous-titres h3 pour le rendre plus visible.
           }

           p {
                background-color: $background-color_1; /* Définit la couleur de fond du paragraphe */
                border-radius: $border-radius-1; /* Applique des coins arrondis */
                color: $color_1; /* Définit la couleur du texte */
                line-height: 1.6; /* Augmente l’interligne à 1.6 fois la taille de la police */
                margin-top: 10px; /* Ajoute un espace de 10px au-dessus du paragraphe */
                padding: 15px; /* Ajoute un espace intérieur de 15px autour du texte */
                box-shadow: 0 0 5px $color_2; /* Ajoute une ombre portée pour donner de la profondeur */
           }

            a {
                @include text-align(center);
                margin-bottom: 10px; // Ajoute une marge inférieure de 10px pour espacer les liens des éléments suivants.
                color: $color_2; /* Définit la couleur du texte des liens */
                cursor: pointer;
            
                &:hover {
                    color: $color_3; /* Change la couleur du texte des liens au survol */
                }
            }
        }
    }
}

// Styles pour les écrans de 768px ou moins (tablettes et mobiles).
@media (max-width: 768px) {
    
    #logo {
        font-size: 50px; // Réduit la taille de la police du logo à 50px sur les petits écrans.
        margin-top: 20px; // Réduit la marge supérieure à 20px.
    }

    #carousel {
        width: 95%; // Définit la largeur du carousel à 95% de la largeur du conteneur parent sur les petits écrans.

        .carousel-slides {

            .slide {

                .carousel-title {
                    font-size: 18px; // Réduit la taille de la police du titre de la diapositive à 18px.
                    padding: 0.5rem 0; // Réduit la marge interne à 0.5rem.
                }
            }
        }
        
        .carousel-button {
            padding: 8px; // Réduit la marge interne des boutons à 8px sur les petits écrans.
        }
    }
    
    .presentation-container {
        width: 90%; // Définit la largeur du conteneur de présentation à 90% de la largeur du parent sur les petits écrans.

        .presentation {
            width: 100%; // Définit la largeur du conteneur de présentation à 100% sur les petits écrans.

            .section {
                padding: 10px; // Réduit la marge interne à 10px sur les petits écrans.
        
                h3 {
                    font-size: 1.5em; // Réduit la taille de la police des sous-titres h3 à 1.5em sur les petits écrans.
                }

                a {
                    font-size: 1em; // Réduit la taille de la police des liens à 1em sur les petits écrans.
                }
            }
        }
    }
}
