#list-games {
    @include flexbox(space-around, flex-start, false, wrap);
    margin: 20px;
    .list {
        @include flexbox(space-between, false, column);
        background-color: $background-color_2;
        border: 2px solid $border;
        border-radius: $border_radius_2;
        padding: 20px;
        margin: 20px;
        width: calc(30% - 40px);
        h2 {
            font-family: $fontpara;
            margin-bottom: 60px;
            cursor: pointer;
            font-size: 1.5rem;
        }
        .additional-links {
            margin-top: 10px;
        }
        a {
            font-family: $fontpara;
            display: block;
            margin: 5px 0;
            padding: 10px;
            text-align: center;
            font-size: 1.2em;
            border: 2px solid $border;
            border-radius: $border_radius_2;
            color: $color_1;
            text-decoration: none;
            transition: background-color 0.3s;
            &:hover{
                background-color: $background-color_1;
                }
        }
        img {
            width: 100%;
            height: auto;
            border-radius: $border-radius-1;
            box-shadow: 0 0 10px $color-2;
        }
    }
}

@media (max-width: 768px) {
    .list {
        gap: 15px;
        margin: 10px;
        flex: 1 1 100%;
        margin-bottom: 20px;
        padding: 15px;
        h2 {
            font-size: 1.4rem;
            margin-bottom: 15px;
        }
        img {
            margin-bottom: 10px;
        }
        p {
            font-size: 0.95rem;
            margin-bottom: 10px;
        }
        a {
            font-size: 1.1em;
            padding: 8px;
        }
    }
}


