#list-games {
    @include flexbox(space-around, flex-start, false, wrap); // Utilise Flexbox pour disposer les éléments enfants en lignes, avec un espace uniforme autour des éléments, les éléments alignés au début sur l'axe transversal, sans alignement sur l'axe principal, et permet le retour à la ligne des éléments si nécessaire (wrap).
    margin: 20px; // Applique une marge de 20px autour du conteneur.
    
    .list {
        
        @include flexbox(space-between, false, column); // Utilise Flexbox pour organiser les éléments enfants en colonne, avec un espace uniforme entre les éléments sur l'axe principal et sans alignement sur l'axe transversal.
        background-color: $background-color_2; // Définit la couleur de fond du conteneur des jeux à partir d'une variable.
        border-radius: $border_radius_2; // Applique un rayon de bordure pour arrondir les coins, la valeur est définie dans une variable.
        border: 2px solid $border; // Ajoute une bordure de 2px solide, utilisant une couleur définie dans une variable.
        padding: 20px; // Ajoute une marge interne de 20px autour du contenu à l'intérieur du conteneur.
        margin: 20px; // Ajoute une marge externe de 20px autour du conteneur des jeux.
        width: calc(30% - 40px); // Définit la largeur du conteneur des jeux à 30% de la largeur du parent moins 40px pour tenir compte des marges.

        .additional-links {
            margin-top: 10px; // Ajoute une marge supérieure de 10px pour espacer les liens supplémentaires des éléments au-dessus.
        }

        a {
            @include text-align(center);
            border-radius: $border_radius_2; // Applique un rayon de bordure pour arrondir les coins des liens, la valeur est définie dans une variable.            
            display: block; // Affiche les liens comme des blocs pour qu'ils occupent toute la largeur disponible.
            margin: 5px 0; // Ajoute une marge verticale de 5px entre les liens.
            padding: 10px; // Ajoute une marge interne de 10px autour du texte des liens.
            transition: background-color 0.3s; // Définit une transition pour le changement de couleur de fond au survol, avec une durée de 0.3 secondes.

            &:hover {
                background-color: $background-color_1; // Change la couleur de fond des liens au survol, utilisant une couleur définie dans une variable.
            }
        }

        img {
            border-radius: $border-radius-1; // Applique un rayon de bordure pour arrondir les coins des images, la valeur est définie dans une variable.
            height: auto; // Définit la hauteur des images à auto pour conserver leur ratio d'aspect.
            width: 100%; // Définit la largeur des images à 100% du conteneur parent, ce qui les rend responsives.
            box-shadow: 0 0 10px $color-2; // Ajoute une ombre portée autour des images pour un effet de profondeur.
        }
    }
}

// Styles pour les écrans de 768px ou moins (tablettes et mobiles).
@media (max-width: 768px) {
    
    .list {
        gap: 15px; // Définit un écart de 15px entre les éléments enfants du conteneur `.list`.
        margin: 10px; // Réduit la marge externe à 10px.
        flex: 1 1 100%; // Permet aux éléments de s'étendre et se rétrécir, avec une base de 100% de la largeur disponible.
        margin-bottom: 20px; // Ajoute une marge inférieure de 20px pour espacer les éléments en colonne.
        padding: 15px; // Réduit la marge interne à 15px.

        h2 {
            font-size: $font-size_sous-title; // Réduit la taille de la police des titres à 1.4rem sur les petits écrans.
            margin-bottom: 15px; // Réduit la marge inférieure à 15px.
        }

        img {
            margin-bottom: 10px; // Ajoute une marge inférieure de 10px aux images pour espacer les éléments en colonne.
        }

        p {
            font-size: $font-size_mobile; // Réduit la taille de la police des paragraphes à 0.95rem pour les petits écrans.
            margin-bottom: 10px; // Réduit la marge inférieure à 10px.
        }

        a {
            font-size: $font-size_mobile; // Réduit la taille de la police des liens à 1.1em sur les petits écrans.
            padding: 8px; // Réduit la marge interne à 8px.
        }
    }
}
