#login {

    @include flexbox(false, center, column); // Utilise un modèle de boîte flexible (flexbox) avec les éléments enfants alignés en colonne (verticalement et centrer).
}

#login-form {
    @include flexbox(center, center, column); // Utilise un modèle de boîte flexible (flexbox) pour centrer le formulaire horizontalement et verticalement.
    min-height: 100vh; // Définit la hauteur minimale à 100% de la hauteur de la fenêtre (viewport), assurant que le formulaire occupe tout l'espace disponible.
    padding: 20px; // Applique une marge interne de 20px au formulaire pour ajouter de l'espace autour du contenu.

    h1 {
        margin-bottom: 100px;
    }

    .form-login {
        @include flexbox(false, false, column); // Utilise un modèle de boîte flexible (flexbox) pour organiser les éléments du formulaire en colonne.
        width: 300px; // Définit une largeur fixe de 300px pour le formulaire, ce qui limite sa taille sur les grands écrans.

        label {
            @include text-align(center);
            color: $color_1; // Applique une couleur au texte des labels, cette couleur est définie dans une variable SCSS ($color_1).
            margin-bottom: 5px; // Ajoute une marge inférieure de 5px pour espacer le label des champs de saisie.
            font-size: $font-size_para; // Définit la taille de la police à 1.2em, ce qui rend les labels plus visibles et lisibles.
        }
    }
}
