#modification {
	@include flexbox(center, center, column);
	min-height: 100vh;
	padding: 20px;
	h1 {
		font-family: $fonttitle;
		font-size: 3em;
		margin-bottom: 20px;
		text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
	}
	.form-modification-games {
		@include flexbox(false, false, column);
		width: 300px;
		label {
			margin-bottom: 5px;
			font-size: 1.2em;
			color: $color_1;
			text-align: center;
		}
		input[type=text], input[type=number], input[type=decimal] {
			padding: 10px;
			border: 2px solid $color_2;
			border-radius: $border_radius_1;
			background-color: $background-color_1;
			color: $color_1;
			font-size: 1em;
			margin-bottom: 15px;
			transition: all 0.2s ease-in-out;
			&:focus {
				outline: none;
				border-color: $border-color_1;
			}
		}
		textarea {
			padding: 10px;
			border: 2px solid $border;
			border-radius: $border_radius_1;
			background-color: $background-color_1;
			color: $color_1;
			font-size: 1em;
			margin-bottom: 15px;
			transition: all 0.2s ease-in-out;
			&:focus {
				outline: none;
				border-color: $border-color_1;
			}
		}
		input[type=file] {
			padding: 10px;
			border: 2px solid $border;
			border-radius: $border_radius_1;
			background-color: $background-color_1;
			color: $color_1;
			font-size: 1em;
			margin-bottom: 15px;
			transition: all 0.2s ease-in-out;
			&:focus {
				outline: none;
				border-color: $border-color_1;
			}
		}
		input[type=submit] {
			padding: 10px 20px;
			border: none;
			border-radius: $border_radius_1;
			background-color: $background-color_4;
			color: $color_4;
			font-size: 1.2rem;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: $background-color_2;
			}
		}
	}
}