#register {
    @include flexbox(center, center, column);
    min-height: 100vh;
    padding: 20px;
    .register-form {
        @include flexbox(false, false, column);
        width: 300px;
        label {
            margin-bottom: 5px;
            font-size: 1.2em;
            color: $color_1;
            text-align: center;
        }
    }
}