#register {
    // Applique un modèle de boîte flexible (flexbox) centré horizontalement et verticalement, avec les éléments enfants disposés en colonne.
    @include flexbox(center, center, column);
    // Définit une hauteur minimale de 100% de la hauteur de la fenêtre (viewport).
    min-height: 100vh;
    // Applique une marge interne de 20px à l'élément.
    padding: 20px;
    .register-form {
        // Applique un modèle de boîte flexible (flexbox) sans centrage particulier des éléments enfants, avec les éléments disposés en colonne.
        @include flexbox(false, false, column);
        // Définit la largeur de l'élément de formulaire à 300px.
        width: 300px;
        label {
            // Ajoute une marge inférieure de 5px pour espacer le label des éléments suivants.
            margin-bottom: 5px;
            // Définit la taille de la police à 1.2em, ce qui est légèrement plus grand que la taille de police par défaut.
            font-size: 1.2em;
            // Applique une couleur de texte au label, issue de la variable `$color_1`.
            color: $color_1;
            // Centre le texte du label horizontalement.
            text-align: center;
        }
    }
}
