#story-game {
    background-color: $background-color-2; // Applique une couleur de fond provenant d'une variable.
    border-radius: $border-radius-2; // Applique un rayon de bordure pour arrondir les coins, la valeur est prise d'une variable.
    font-family: $fontpara; // Définit la police utilisée pour le texte à l'intérieur de l'élément, provenant d'une variable.
    border: 2px solid $border; // Définit une bordure de 2px d'épaisseur, utilisant une couleur provenant d'une variable.
    padding: 20px; // Applique une marge interne de 20px à l'élément.
    margin: 20px auto; // Centre l'élément horizontalement avec une marge automatique sur les côtés.
    width: 80%; // Définit la largeur de l'élément à 80% de son conteneur parent.
    max-width: 60%; // Limite la largeur maximale de l'élément à 60% de son conteneur parent.

    h1 {
        text-shadow: 0 0 10px $color_2; // Ajoute une ombre portée autour des images pour un effet de profondeur.
    }
    
    .story {
        @include flexbox(false, center, column); // Utilise un mixin pour appliquer un modèle de boîte flexible (flexbox) avec des options spécifiques.
        gap: 20px; // Définit un espacement de 20px entre les éléments enfants de ".story".
    
        img {
            border-radius: $border-radius-1; // Applique un rayon de bordure pour arrondir les coins de l'image, la valeur est prise d'une variable.
            margin-top: 20px;
            max-width: 75%; // Définit la largeur maximale de l'image à 75% de son conteneur parent.
            width: 50%; // Définit la largeur de l'image à 50% de son conteneur parent.
            box-shadow: 0 0 10px $color_4; // Ajoute une ombre portée autour des images pour un effet de profondeur.  
        }
    }
}

// Styles appliqués uniquement lorsque la largeur de l'écran est de 768px ou moins.
@media (max-width: 768px) {
    
    #story-game {
        width: 95%; // Augmente la largeur de l'élément à 95% du conteneur parent pour les écrans étroits.
        max-width: 100%; // Définit la largeur maximale à 100% pour s'assurer qu'elle ne dépasse pas son conteneur parent.
        padding: 10px; // Réduit la marge interne à 10px pour les petits écrans.
        margin: 10px auto; // Réduit la marge externe à 10px pour les petits écrans.
    }

    .story {
        
        gap: 15px; // Réduit l'espacement entre les éléments enfants de ".story" à 15px pour les petits écrans.

        img {
            max-width: 100%; // Augmente la largeur maximale de l'image à 100% du conteneur parent pour les petits écrans.
            width: auto; // Permet à l'image de s'ajuster automatiquement en fonction de son conteneur.
        }
    }

    .close-button {
        top: 5px; // Réduit la position du bouton de fermeture à 5px du haut pour les petits écrans.
        right: 5px; // Réduit la position du bouton de fermeture à 5px du côté droit pour les petits écrans.
        font-size: 20px; // Réduit la taille de la police du bouton de fermeture à 20px pour les petits écrans.
    }
}
