@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

$fonttitle: "Raleway", sans-serif;
$fontpara: 'Exo';

$color_1: rgb(255, 255, 255);
$color_2: rgb(0, 255, 0);
$color_3: rgb(44, 62, 80);
$color_4: rgb(0, 0, 0);

$background_1: rgba(0, 0, 0, .7);
$background_2: rgba(0, 0, 0, 0.5);

$background-color_1: rgb(34, 34, 34);
$background-color_2: rgb(44, 62, 80);
$background-color_3: rgb(255, 255, 255);
$background-color_4: rgb(0, 255, 0);

$border: rgb(0, 255, 0);

$border_radius_1: 5px;
$border_radius_2: 10px;

$border-color_1: rgb(44, 62, 80);