@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
}

p {
  font-family: "Exo", sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  background-color: rgb(34, 34, 34);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(0, 255, 0);
  text-align: center;
  box-shadow: 0 0 5px rgb(0, 255, 0);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(0, 255, 0);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: rgb(44, 62, 80);
}

.close-button {
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: rgb(0, 255, 0);
  text-decoration: none;
  cursor: pointer;
}
.close-button:hover {
  color: #009900;
}

input[type=text],
input[type=number],
input[type=decimal],
input[type=datetime-local],
input[type=date],
input[type=email],
input[type=password],
input[type=file],
select, textarea {
  padding: 10px;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 1em;
  margin-bottom: 15px;
  transition: all 0.2s ease-in-out;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=decimal]:focus,
input[type=datetime-local]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=file]:focus,
select:focus, textarea:focus {
  outline: none;
  border-color: rgb(44, 62, 80);
}

input[type=submit] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
input[type=submit]:hover {
  background-color: rgb(44, 62, 80);
}

#menu {
  background-color: rgb(44, 62, 80);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
#menu a {
  font-family: "Exo", sans-serif;
  text-decoration: none;
  color: rgb(0, 255, 0);
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
#menu a:hover {
  background-color: rgb(34, 34, 34);
}
#menu #menu-toggle {
  display: none;
}
#menu .menu-icon {
  display: none;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
#menu .menu-icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 255, 0);
  transition: all 0.3s ease-in-out;
}
#menu .menu-icon span:nth-child(1) {
  top: 0;
}
#menu .menu-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
#menu .menu-icon span:nth-child(3) {
  bottom: 0;
}
#menu .menu-items {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#menu .menu-items a {
  margin: 0 5px;
}
@media (max-width: 768px) {
  #menu {
    display: flex;
    justify-content: flex-start;
  }
  #menu .menu-icon {
    display: block;
  }
  #menu .menu-items {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  #menu .menu-items a {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid rgb(34, 34, 34);
  }
  #menu #menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  #menu #menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  #menu #menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
  #menu #menu-toggle:checked + .menu-icon + .menu-items {
    display: flex;
  }
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}
footer #footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #footer-container .footer-section {
  margin-bottom: 20px;
}
footer #footer-container .footer-section .footer-para {
  margin: 5px 0;
  display: block;
}
footer #footer-container .footer-section a {
  color: #ecf0f1;
  text-decoration: none;
}
footer #footer-container .footer-section a:hover {
  text-decoration: underline;
}
footer #footer-container .social-icons {
  display: flex;
  gap: 15px;
}
footer #footer-container .social-icons a {
  color: #ecf0f1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer #footer-container .social-icons a img {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
footer #footer-container .social-icons a span {
  font-size: 14px;
}

#role {
  margin: 100px auto;
  padding: 20px;
  width: 80%;
  max-width: 800px;
  background-color: rgb(44, 62, 80);
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}
#role #filterInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid rgb(0, 255, 0);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}
#role #filterInput:focus {
  border-color: rgb(0, 255, 0);
}
#role #usersTable {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(44, 62, 80);
  font-family: "Raleway", sans-serif;
  border: 1;
}
#role #usersTable th, #role #usersTable td {
  padding: 12px 15px;
  text-align: left;
  color: rgb(255, 255, 255);
}
#role #usersTable th {
  background-color: rgb(34, 34, 34);
  color: rgb(0, 255, 0);
  border: 1px solid rgb(0, 255, 0);
  text-transform: uppercase;
  letter-spacing: 1px;
}
#role #usersTable tr, #role #usersTable td {
  border: 1px solid rgb(0, 255, 0);
}
#role #usersTable tr:nth-child(even), #role #usersTable td:nth-child(even) {
  background-color: rgb(44, 62, 80);
}
#role #usersTable select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgb(0, 255, 0);
  border-radius: 4px;
  background-color: rgb(34, 34, 34);
  cursor: pointer;
}
#role input[type=submit] {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
#role input[type=submit]:hover {
  background-color: rgb(34, 34, 34);
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}
#register .register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
#register .register-form label {
  margin-bottom: 5px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}
#login-form .form-login {
  display: flex;
  flex-direction: column;
  width: 300px;
}
#login-form .form-login label {
  margin-bottom: 5px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

#logo {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
  margin-top: 30px;
}

#carousel {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}
#carousel .carousel-slides {
  margin-top: 30px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}
#carousel .carousel-slides .slide {
  position: relative;
  min-width: 100%;
  box-sizing: border-box;
}
#carousel .carousel-slides .slide img {
  width: 100%;
  display: block;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
#carousel .carousel-slides .slide .carousel-title {
  font-family: "Raleway", sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  z-index: 50;
  padding: 1rem 0;
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
  background: rgba(0, 0, 0, 0.7);
}
#carousel .carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  cursor: pointer;
}
#carousel .carousel-button-prev {
  left: 10px;
}
#carousel .carousel-button-next {
  right: 10px;
}
#carousel .carousel-button:focus {
  outline: none;
}

h2 {
  font-family: "Exo", sans-serif;
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
}

.presentation-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
}
.presentation-container .presentation {
  width: 60%;
  margin: 20px auto;
}
.presentation-container .presentation .section {
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(44, 62, 80);
  margin-bottom: 20px;
}
.presentation-container .presentation .section h3 {
  font-size: 1.8em;
  font-family: "Exo", sans-serif;
  margin-bottom: 10px;
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
}
.presentation-container .presentation .section a {
  font-size: 1.2em;
  font-family: "Exo", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  #logo {
    font-size: 50px;
    margin-top: 20px;
  }
  #carousel {
    width: 95%;
  }
  #carousel .carousel-slides .slide .carousel-title {
    font-size: 18px;
    padding: 0.5rem 0;
  }
  #carousel .carousel-button {
    padding: 8px;
  }
  h2 {
    font-size: 30px;
    margin-top: 20px;
  }
  .presentation-container {
    width: 90%;
  }
  .presentation-container .presentation {
    width: 100%;
  }
  .presentation-container .presentation .section {
    padding: 10px;
  }
  .presentation-container .presentation .section h3 {
    font-size: 1.5em;
  }
  .presentation-container .presentation .section a {
    font-size: 1em;
  }
}
.dropdown-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 100%;
}
.dropdown-container .dropdown {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
.dropdown-container .dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-container .dropdown .lien {
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);
  padding: 1rem;
  font-family: "Exo", sans-serif;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
.dropdown-container .dropdown .dropdown-content {
  margin-top: 3rem;
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.dropdown-container .dropdown .dropdown-content a {
  color: rgb(0, 0, 0);
  font-family: "Exo", sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-container .dropdown .dropdown-content a:hover {
  background-color: rgb(44, 62, 80);
}

#add-character, #add-games, #add-boss, #modify-character, #modify-games, #modify-boss {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}
#add-character form, #add-games form, #add-boss form, #modify-character form, #modify-games form, #modify-boss form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
#add-character form label, #add-games form label, #add-boss form label, #modify-character form label, #modify-games form label, #modify-boss form label {
  margin-bottom: 5px;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

#list-character-admin,
#list-boss-admin,
#list-delete-character-admin,
#list-delete-boss-admin,
#list-modify-character-admin, #list-modify-games-admin,
#list-modify-boss-admin {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}
#list-character-admin .list,
#list-boss-admin .list,
#list-delete-character-admin .list,
#list-delete-boss-admin .list,
#list-modify-character-admin .list, #list-modify-games-admin .list,
#list-modify-boss-admin .list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(44, 62, 80);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: calc(30% - 40px);
}
#list-character-admin .list h2,
#list-boss-admin .list h2,
#list-delete-character-admin .list h2,
#list-delete-boss-admin .list h2,
#list-modify-character-admin .list h2, #list-modify-games-admin .list h2,
#list-modify-boss-admin .list h2 {
  font-family: "Exo", sans-serif;
  cursor: pointer;
  font-size: 1.5rem;
}
#list-character-admin .list a,
#list-boss-admin .list a,
#list-delete-character-admin .list a,
#list-delete-boss-admin .list a,
#list-modify-character-admin .list a, #list-modify-games-admin .list a,
#list-modify-boss-admin .list a {
  font-family: "Exo", sans-serif;
  display: block;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
  text-decoration: none;
  transition: background-color 0.3s;
}
#list-character-admin .list a:hover,
#list-boss-admin .list a:hover,
#list-delete-character-admin .list a:hover,
#list-delete-boss-admin .list a:hover,
#list-modify-character-admin .list a:hover, #list-modify-games-admin .list a:hover,
#list-modify-boss-admin .list a:hover {
  background-color: rgb(34, 34, 34);
}
#list-character-admin .list img,
#list-boss-admin .list img,
#list-delete-character-admin .list img,
#list-delete-boss-admin .list img,
#list-modify-character-admin .list img, #list-modify-games-admin .list img,
#list-modify-boss-admin .list img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgb(0, 255, 0);
}

#delete-games, #delete-character, #delete-boss {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}
#delete-games .list, #delete-character .list, #delete-boss .list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(44, 62, 80);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: calc(30% - 40px);
}
#delete-games .list h2, #delete-character .list h2, #delete-boss .list h2 {
  font-family: "Exo", sans-serif;
  display: block;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
}
#delete-games .list img, #delete-character .list img, #delete-boss .list img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgb(0, 255, 0);
}
#delete-games .list .button-container, #delete-character .list .button-container, #delete-boss .list .button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#list-games {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}
#list-games .list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(44, 62, 80);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: calc(30% - 40px);
}
#list-games .list h2 {
  font-family: "Exo", sans-serif;
  margin-bottom: 60px;
  cursor: pointer;
  font-size: 1.5rem;
}
#list-games .list .additional-links {
  margin-top: 10px;
}
#list-games .list a {
  font-family: "Exo", sans-serif;
  display: block;
  margin: 5px 0;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background-color 0.3s;
}
#list-games .list a:hover {
  background-color: rgb(34, 34, 34);
}
#list-games .list img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 255, 0);
}

#game-character-detail, #game-boss-detail {
  background-color: rgb(44, 62, 80);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 90%;
  font-family: "Exo", sans-serif;
}
#game-character-detail .game-character-grid, #game-boss-detail .game-character-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
#game-character-detail .game-character-block, #game-boss-detail .game-character-block {
  padding: 20px;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(0, 255, 0);
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#game-character-detail .game-character-image, #game-boss-detail .game-character-image {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#game-character-detail .game-character-image img, #game-boss-detail .game-character-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 255, 0);
  -o-object-fit: cover;
     object-fit: cover;
}
#game-character-detail .game-character-info, #game-boss-detail .game-character-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
#game-character-detail .game-character-item, #game-boss-detail .game-character-item {
  background-color: rgb(34, 34, 34);
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(0, 255, 0);
  width: 100%;
}
#game-character-detail .game-character-item .description-title, #game-boss-detail .game-character-item .description-title {
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
}

#games-detail {
  background-color: rgb(44, 62, 80);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 60%;
  font-family: "Exo", sans-serif;
}
#games-detail .games-image {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
}
#games-detail .games-image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
  box-shadow: 0 0 10px rgb(0, 255, 0);
}
#games-detail .games-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
#games-detail .games-item {
  background-color: rgb(34, 34, 34);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(0, 255, 0);
  transition: transform 0.3s ease;
  box-shadow: 0 0 5px rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
}
#games-detail .games-item .description-title {
  font-size: 1.2em;
  text-shadow: 0 0 3px rgb(0, 255, 0), 0 0 5px rgb(0, 255, 0);
  margin-bottom: 10px;
  display: block;
}
#games-detail .games-item:last-child {
  grid-column: span 2;
}

#story-game {
  background-color: rgb(44, 62, 80);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 60%;
  font-family: "Exo", sans-serif;
}
#story-game .story {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#story-game .story img {
  max-width: 75%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 255, 0);
}
#story-game .close-button {
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: rgb(0, 255, 0);
  text-decoration: none;
  cursor: pointer;
}
#story-game .close-button:hover {
  color: #009900;
}

#information {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 62, 80);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(44, 62, 80);
  margin: 20px auto;
  max-width: 800px;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

strong {
  color: rgb(0, 255, 0);
}/*# sourceMappingURL=index.css.map */