@import 'variables', 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $background-color_1;
    color: $color_1;
}
#menu {
    background-color: $background-color_2;
    padding: 10px;
    @include flexbox(space-around);
        a{
        font-family: $fonttitle;
        text-decoration: none;
        color: $color_2;
        padding: 5px 10px;
        border-radius: $border_radius_1;
        transition: background-color 0.3s;
        &:hover{
            background-color: $background-color_1;
            }
        }
}
.form-container {
    @include flexbox(center, center, column);
    min-height: 100vh;
    padding: 20px;
    h1 {
        font-family: $fonttitle;
        font-size: 3em;
        margin-bottom: 20px;
        text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
    }
    .vertical {
        @include flexbox(false, false, column);
        width: 300px;
        label {
            margin-bottom: 5px;
            font-size: 1.2em;
            color: $color_1;
            text-align: center;
        }
        input[type="text"] {
            padding:10px;
            border: 2px solid $color_2;
            border-radius: $border_radius_1;
            background-color: $background-color_1;
            color: $color_1;
            font-size: 1em;
            margin-bottom: 15px;
            transition: all 0.2s ease-in-out;
            &:focus {
                outline: none;
                border-color: $border-color_1;
            }
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: $border_radius_1;
            background-color: $color_2;
            color: $color_4;
            font-size: 1.2rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: $background-color_2;
            }
        }
    }
}
.welcome-message {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.logout-form {
    @include flexbox(false, false, column);
    align-items: center;
    button {
        padding: 10px 20px;
        border: none;
        border-radius: $border_radius_1;
        color: $color_1;
        font-size: 1.2em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $background-color_2;
        }
      }
  }
.form-login {
    @include flexbox(center, center, column);
    min-height: 100vh;
    padding: 20px;
    h1 {
        font-family: $fonttitle;
        font-size: 3em;
        margin-bottom: 20px;
        text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
    }
    .vertical {
        @include flexbox(false, false, column);
        width: 300px;
        label {
            margin-bottom: 5px;
            font-size: 1.2em;
            color: $color_1;
            text-align: center;
        }
        input {
            padding: 10px;
            border: 2px solid $color_2;
            border-radius: $border_radius_1;
            background-color: $background-color_1;
            color: $color_1;
            font-size: 1em;
            margin-bottom: 15px;
            transition: all 0.2s ease-in-out;
            &:focus {
                outline: none;
                border-color: $border-color_1;
            }
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: $border_radius_1;
            background-color: $color_2;
            color: $color_4;
            font-size: 1.2em;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: $background-color_2;
            }
        }
    }
}
#logo {
    font-family: $fonttitle;
    text-align: center;
    font-size: 80px;
    text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
    margin-top: 30px;
}
.carousel {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    .carousel-slides {
        margin-top: 30px;
        @include flexbox();
        transition: transform 0.5s ease-in-out;
        .slide {
            position: relative;
            min-width: 100%;
            box-sizing: border-box;
            img {
                width: 100%;
                display: block;
                max-height: 500px;
                object-fit: cover;
            }
            .carousel-title {
                font-family: $fonttitle;
                position: absolute;
                bottom: 0; 
                width: 100%;
                text-align: center;
                font-size: 24px;
                color: $color_1;
                z-index: 50;
                padding: 1rem 0;
                text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
                background: $background_1;
              }
        }
    }
    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $background_2;
        border: none;
        color: $color_1;
        padding: 10px;
        cursor: pointer;
      }
      .carousel-button-prev {
        left: 10px;
      }
      .carousel-button-next {
        right: 10px;
      }
      .carousel-button:focus {
        outline: none;
      }  
}
h2 {
    font-family: $fonttitle;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
    margin-top: 40px;
  } 
.presentation-container {
    @include flexbox(center);
    margin: 0 auto;
    margin-top: 30px;
    .presentation {
        width: 60%;
        margin: 20px auto;
        .section {
            border: 2px solid $color_2;
            border-radius: $border_radius_2;
            padding: 20px;
            background-color: $background-color_2;
            margin-bottom: 20px;
            h3 {
            font-size: 1.8em;
            font-family: $fonttitle;
            margin-bottom: 10px;
            text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
            }
            p {
            font-family: $fontpara;
            font-size: 1.2em;
            line-height: 1.6;
            margin-bottom: 20px;
            }
            a {
            font-size: 1.2em;
            font-family: $fonttitle;
            margin-bottom: 10px;
            text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
            text-align: center;
            }
        }
    }        
} 
.dropdown-container {
    @include flexbox(space-around);
    margin: 20px;
    width: 100%;
    .dropdown {
        width: 100%;
        position: relative;
        @include flexbox(center);
        text-align: center;
        margin-top: 30px;
        &:hover .dropdown-content {
            display: block;
          }
        .lien {
            background-color: $background-color_4;
            color: $color_1;
            padding: 1rem;
            font-family: $fonttitle;
            font-size: 24px;
            border: none;
            cursor: pointer;
          }
          .dropdown-content {
            margin-top: 3rem;
            display: none;
            position: absolute;
            background-color: $background-color_3;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px $background_2;
            z-index: 1;
            a {
                color: $color_4;
                font-family: $fonttitle;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                &:hover {
                    background-color: $background-color_2;
                  }
              }
          }
      }
  }
  .form-container {
	@include flexbox(center, center, column);
	min-height: 100vh;
	padding: 20px;
	h1 {
		font-family: $fonttitle;
		font-size: 3em;
		margin-bottom: 20px;
		text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
	}
	.form {
		@include flexbox(false, false, column);
		width: 300px;
		label {
			margin-bottom: 5px;
			font-size: 1.2em;
			color: $color_1;
			text-align: center;
		}
		input[type=text] {
			padding: 10px;
			border: 2px solid $color_2;
			border-radius: $border_radius_1;
			background-color: $background-color_1;
			color: $color_1;
			font-size: 1em;
			margin-bottom: 15px;
			transition: all 0.2s ease-in-out;
			&:focus {
				outline: none;
				border-color: $border-color_1;
			}
		}
		textarea {
			padding: 10px;
			border: 2px solid $border;
			border-radius: $border_radius_1;
			background-color: $background-color_1;
			color: $color_1;
			font-size: 1em;
			margin-bottom: 15px;
			transition: all 0.2s ease-in-out;
			&:focus {
				outline: none;
				border-color: $border-color_1;
			}
		}
		input[type=file] {
			padding: 10px;
			border: 2px solid $border;
			border-radius: $border_radius_1;
			background-color: $background-color_1;
			color: $color_1;
			font-size: 1em;
			margin-bottom: 15px;
			transition: all 0.2s ease-in-out;
			&:focus {
				outline: none;
				border-color: $border-color_1;
			}
		}
		input[type=submit] {
			padding: 10px 20px;
			border: none;
			border-radius: $border_radius_1;
			background-color: $background-color_4;
			color: $color_4;
			font-size: 1.2rem;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: $background-color_2;
			}
		}
	}
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: $fonttitle;
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
}
.games-container {
    @include flexbox(space-around, flex-start, false, wrap);
    margin: 20px;
    .game-card {
        @include flexbox(space-between, false, column);
        background-color: $background-color_2;
        border: 2px solid $border;
        border-radius: $border_radius_2;
        padding: 20px;
        margin: 10px;
        width: calc(30% - 40px);
        .additional-links {
            margin-top: 10px;
        }
        h2 {
            cursor: pointer;
            font-size: 1.5rem;
        }
        a {
            font-family: $fonttitle;
            display: block;
            margin: 5px 0;
            padding: 10px;
            text-align: center;
            font-size: 1.2em;
            border: 2px solid $border;
            border-radius: $border_radius_2;
            color: $color_1;
            text-decoration: none;
            transition: background-color 0.3s;
            &:hover{
                background-color: $background-color_1;
                }
        }
        p {
            text-align: justify;
            font-family: $fontpara;
            padding-top: 10px;
            font-size: 1.2em;
            color: $color_1;
        }
        img {
            width: 100%;
            height: auto;
            border-radius: $border_radius_1;
            margin-top: 10px;
            box-shadow: 0 0 10px $color_2;
        }
    }
}
.game-details {
    background-color: $background-color_2;
    border: 2px solid $border;
    border-radius: $border_radius_2;
    padding: 20px;
    margin: 20px auto; 
    width: 80%; 
    max-width: 600px; 
    font-family: $fontpara;
    h1 {
        font-family: $fonttitle;
        font-size: 3em;
        text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
        text-align: center;
        margin-bottom: 20px;
      }
      .game-image {
        @include flexbox(center);
        margin-bottom: 20px;
        img {
            max-width: 100%;
            border-radius: $border_radius_1;
            box-shadow: 0 0 10px $color_2;
          }
      }
      .game-info {
        @include flexbox(false, false, column);
        gap: 15px;
      }
      .info-item {
        background-color: $background-color_1;
        padding: 15px;
        border-radius: $border_radius_1;
        border: 1px solid $border;
        width: 100%; 
        .description-title {
            text-shadow: 0 0 3px $color_2, 0 0 5px $color_2; 
        }
        p {
            font-size: 1.2em;
            color: $color_1;
            margin-bottom: 10px;
            text-align: justify;
          }
      }
  }
  .story-game {
    background-color: $background-color_2;
    border: 2px solid $border;
    border-radius: $border_radius_2;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    font-family: $fontpara;

    h1 {
        font-family: $fonttitle;
        font-size: 3em;
        text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
        text-align: center;
        margin-bottom: 20px;
    }

    .story {
        @include flexbox(false, false, column);
        gap: 20px;
        
        img {
            max-width: 100%;
            border-radius: $border_radius_1;
            box-shadow: 0 0 10px $color_2;
        }

        p {
            font-size: 1.2em;
            line-height: 1.6;
            color: $color_1;
            background-color: $background-color_1;
            padding: 15px;
            border-radius: $border_radius_1;
            border: 1px solid $border;
            text-align: justify;
            box-shadow: 0 0 5px $color_2;
        }
    }
}

