#list-character-admin,
#list-boss-admin,
#list-delete-character-admin, 
#list-delete-boss-admin,
#list-modify-character-admin, #list-modify-games-admin,
#list-modify-boss-admin {
    @include flexbox(space-around, flex-start, false, wrap);
    margin: 20px;
    .list {
        @include flexbox(space-between, false, column);
        background-color: $background-color_2;
        border: 2px solid $border;
        border-radius: $border_radius_2;
        padding: 20px;
        margin: 10px;
        width: calc(30% - 40px);
        h2 {
            font-family: $fontpara;
            cursor: pointer;
            font-size: 1.5rem;
        }
        a {
            font-family: $fontpara;
            display: block;
            margin: 5px 0;
            padding: 10px;
            text-align: center;
            font-size: 1.2em;
            border: 2px solid $border;
            border-radius: $border_radius_2;
            color: $color_1;
            text-shadow: 0 0 3px $color_2, 0 0 5px $color_2;
            text-decoration: none;
            transition: background-color 0.3s;
            &:hover{
                background-color: $background-color_1;
                }
        }
        img {
            width: 100%;
            height: auto;
            border-radius: $border_radius_1;
            margin-top: 10px;
            box-shadow: 0 0 10px $color_2;
        }
    }
}