#titre-list {
    margin-top: 150px;
    text-shadow: 0 0 10px $color_2; /* Ajoute une ombre portée autour de l'image */
}

/* Styles pour les sections administratives de gestion de personnages, boss et jeux */
#list-character-admin,
#list-boss-admin,
#list-delete-character-admin, 
#list-delete-boss-admin,
#list-modify-character-admin,
#list-modify-games-admin,
#list-modify-boss-admin {
    @include flexbox(space-around, flex-start, false, wrap); /* Utilisation de Flexbox pour disposer les éléments avec un espace autour, alignés au début, sans alignement vertical spécifique, avec retour à la ligne */
    margin: 20px; /* Ajoute un espace extérieur de 20px tout autour des sections */
    margin-top: 50px;

    /* Styles pour les listes à l'intérieur des sections */
    .list {
        @include flexbox(space-between, false, column); /* Utilisation de Flexbox pour disposer les éléments avec un espace entre eux, alignés verticalement en colonne */
        background-color: $background-color_2; /* Définit la couleur de fond de la liste */
        border-radius: $border_radius_2; /* Arrondit les coins de la bordure de la liste */
        border: 2px solid $border; /* Ajoute une bordure solide de 2px autour de la liste */
        padding: 20px; /* Ajoute un espace intérieur de 20px tout autour du contenu de la liste */
        margin: 10px; /* Ajoute un espace extérieur de 10px tout autour de la liste */
        width: calc(30% - 40px); /* Définit la largeur de la liste à 30% de celle du conteneur parent, moins 40px pour compenser les marges */
    
        /* Styles pour les liens (a) à l'intérieur des listes */
        a {
            color: $color_1; /* Définit la couleur du texte du lien */
            border-radius: $border_radius_2; /* Arrondit les coins de la bordure du lien */
            font-family: $fontpara; /* Applique la police de caractères spécifiée pour les liens */
            font-size: $font-size_para; /* Définit la taille de la police du lien */
            border: 2px solid $border; /* Ajoute une bordure solide de 2px autour du lien */
            display: block; /* Définit l'affichage du lien comme un bloc */
            margin: 5px 0; /* Ajoute un espace extérieur de 5px en haut et en bas du lien */
            padding: 10px; /* Ajoute un espace intérieur de 10px tout autour du lien */
            text-shadow: 0 0 3px $color_2, 0 0 5px $color_2; /* Ajoute une ombre portée au texte du lien pour le faire ressortir */
            transition: background-color 0.3s; /* Ajoute une transition fluide pour le changement de couleur de fond du lien */
            /* Styles pour le lien lors du survol */
            &:hover {
                background-color: $background-color_1; /* Change la couleur de fond du lien au survol */
            }
        }
        /* Styles pour les images à l'intérieur des listes */
        img {
            border-radius: $border_radius_1; /* Arrondit les coins de l'image */
            height: auto; /* Permet à la hauteur de l'image de s'ajuster automatiquement */
            width: 100%; /* Définit la largeur de l'image à 100% du conteneur */
            margin-top: 10px; /* Ajoute un espace extérieur de 10px au-dessus de l'image */
        }

        p {
            margin-top: 10px;
        }
    }
}
