/* Styles pour les titres de niveau 1 (h1) */
h1 {
    @include text-align(center);
    font-family: $fonttitle; /* Utilise la police spécifiée pour les titres */
    font-size: $font-size_logo; /* Définit la taille de la police à 3 fois la taille de base */
    box-shadow: 0 0 10px $color_4; // Ajoute une ombre portée autour des images pour un effet de profondeur.
}

/* Styles pour les titres de niveau 2 (h2) */
h2 {
    @include text-align(center);
    font-family: $fontpara; /* Applique la police de caractères spécifiée pour les titres */
    font-size: $font-size_sous-title; /* Définit la taille de la police du titre */
}

/* Styles pour les titres de niveau 3 (h3) */
h3 {
    font-family: $fontpara; // Utilise la police définie dans la variable $fontpara pour les sous-titres h3.
    font-size: $font-size_sous-title; /* Définit la taille de la police du titre */ // Définit la taille de la police des sous-titres h3 à 1.8em, plus grande que la taille de texte normale.
}

/* Styles pour les paragraphes */
p {
    @include text-align(center);
    font-family: $fontpara; /* Utilise la police spécifiée pour les paragraphes */
    font-size: $font-size_para; /* Définit la taille de la police à 1.2 fois la taille de base *
    border: 1px solid $border; /* Ajoute une bordure solide de 1px */
}

/* Styles pour les liens */
a {
    @include text-align(center);
    @include text-decoration(none);
    font-family: $fontpara; // Utilise la police définie dans la variable $fontpara pour les liens.
    font-size: $font-size_para; // Définit la taille de la police des liens à 1.2em, légèrement plus grande que la taille par défaut.
}

/* Styles pour les boutons */
button {
    background-color: $background-color_4; /* Définit la couleur de fond du bouton */
    border-radius: $border_radius_1; /* Applique des coins arrondis */
    color: $color_4; /* Définit la couleur du texte du bouton */
    font-size: $font-size_para; /* Définit la taille de la police à 1.2 fois la taille de la police racine */
    border: none; /* Supprime la bordure par défaut */
    padding: 10px 20px; /* Ajoute un espace intérieur de 10px en haut/bas et 20px sur les côtés */
    transition: all 0.2s ease-in-out; /* Ajoute une transition douce pour tous les changements de style */
    cursor: pointer; /* Change le curseur en une main pointant lorsqu’il est survolé */

    &:hover {
        background-color: $background-color_2; /* Change la couleur de fond du bouton lorsqu'il est survolé */
    }
}

/* Styles pour les boutons de fermeture */
.close-button {
    @include text-decoration(none);
    color: $color_2; /* Définit la couleur du texte du bouton */
    font-size: $font-size_close-button; /* Définit la taille de la police pour le bouton de fermeture */
    top: 10px; /* Positionne le bouton à 10px du haut */
    right: 10px; /* Positionne le bouton à 10px de la droite */
    cursor: pointer; /* Change le curseur en une main pointant lorsqu'il est survolé */
    
    &:hover {
        color: darken($color_2, 20%); /* Assombrit la couleur du bouton de fermeture lorsqu'il est survolé */
    }
}
