// Importation des polices Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

// Définition des familles de polices
$fonttitle: "Raleway", sans-serif;  // Police pour les titres
$fontpara: 'Exo', sans-serif;       // Police pour le texte des paragraphes

// Définition des couleurs
$color_1: rgb(255, 255, 255);       // Blanc
$color_2: rgb(0, 255, 0);           // Vert lumineux
$color_3: rgb(44, 62, 80);          // Couleur de texte sombre
$color_4: rgb(0, 0, 0);             // Noir

// Définition des couleurs de fond avec transparence
$background_1: rgba(0, 0, 0, .7);  // Fond semi-transparent noir
$background_2: rgba(0, 0, 0, 0.5); // Fond plus transparent noir

// Définition des couleurs de fond
$background-color_1: rgb(34, 34, 34); // Fond sombre
$background-color_2: rgb(44, 62, 80); // Fond gris-bleu
$background-color_3: rgb(255, 255, 255); // Fond blanc
$background-color_4: rgb(0, 255, 0); // Fond vert lumineux

// Définition des couleurs de bordure
$border: rgb(0, 255, 0); // Bordure verte lumineuse

// Définition des rayons de bordure pour les coins arrondis
$border_radius_1: 5px;  // Rayon de bordure pour les coins légèrement arrondis
$border_radius_2: 10px; // Rayon de bordure pour les coins plus arrondis

// Couleur de bordure spécifique pour certains éléments
$border-color_1: rgb(44, 62, 80); // Bordure de couleur gris-bleu


$font-size_logo: 70px;
$font-size_title: 40px;
$font-size_sous-title: 30px;
$font-size_close-button: 24px;
$font-size_para: 22px;
$font-size_input: 18px;
$font-size_select: 16px;
$font-size_span: 14px;
$font-size_mobile: 1px;